@charset "UTF-8";
.indextitle{
  margin-top: 4%;
  margin-left: 4rem;
}

.content1{
  padding-left: 1%;
  display: flex;
}

.content1 img{
  padding-left: 3rem;
  width: 37rem;
}

.content1 button {
  margin-top: 5rem;
  float: right;
}

.content2{
  padding-left: 3%;
  padding-right: 1%;
  display: flex;
  justify-content: space-between;
}

.content2 img{
  width: 90%;
}

.content3{
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
  margin-left: 20%;
  margin-right: 20%;
}

.news{
  justify-content: space-between;
  display: flex;
  margin-top: 1%;
  margin-left: 20%;
  margin-right: 20%;
}

.content5{
  display: flex;
  justify-content: space-between;
  margin-left: 30%;
  margin-right: 30%;
}

.content4 button {
  margin-top: 2%;
  float: right;
  margin-right: 10%;
}

